@import '../variables.scss';
@import '../mixins.scss';

.woowa-calendar {
  height: 100%;
}

.woowa-calendar .calendar-header {
  height: 7.5%;
  color: $label-color;
}

.woowa-calendar .calendar-body {
  height: 92.5%;
  padding: 1rem;
  .day-block {
    @include flex(column);
    justify-content: space-between;
    background: #f8f8f8;
    border-radius: 0.5rem;
    &.now {
      border-color: rgba(42, 193, 188, 0.5);
    }
    &:not(.empty-day):hover {
      background-color: #eee;
    }
    &__content {
      height: 80%;
      max-height: 4.5rem;
      overflow-y: auto;
      &::-webkit-scrollbar-track {
        border-radius: 3px;
        background-color: $line-color;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: $primary-color2;
      }
      &:hover::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: $primary-color1;
      }
    }
    &__day {
      text-align: right;
      color: $body-color;
    }
  }
  .calendar-history {
    @include bold(medium);
    color: $error-color;
    font-weight: 600;
    &.income {
      color: $primary-color1;
    }
  }
}
