.alert {
  position: fixed;
  width: 100%;
  bottom: 5vh;
  left: 0;

  .alert__message {
    width: fit-content;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    color: white;
    padding: 1rem 2rem;
    border-radius: 2rem;
  }
}

.hide-alert {
  animation: hide-modal 0.5s ease-out 1;
}

@keyframes hide-modal {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}
