@import '../mixins.scss';

.chart-tag {
  &__list {
    width: 100%;
    margin-bottom: 2rem;
  }
  &__item {
    display: grid;
    justify-content: space-between;
    margin: 0 2rem;
    width: 85%;
    margin-bottom: 1rem;
    grid-template-columns: 5rem 2rem auto;
    &__label {
      @include content(x-small);
      color: white;
      box-sizing: border-box;
      padding: 0.1rem 0.3rem 0.1rem 0.3rem;
      text-align: center;
      border-radius: 0.5rem;
    }
    &__percent {
      @include bold(large);
      font-weight: 600;
    }
    &__amount {
      @include bold(large);
      font-weight: 600;
    }
    &:nth-child(n + 4) {
      display: none;
    }
  }
  .open &__item {
    display: grid;
  }
  &-toggle-button {
    width: 85%;
    color: #fff;
    background-color: #94d3cc;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    margin: 2rem;
    display: block;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.25s linear;
    &:hover {
      opacity: 1;
    }
  }
}
