@import '../variables.scss';

.toggle-chart-buttons {
  width: 100%;
  padding: 1rem 2rem;
}
.toggle-chart-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: white;
  box-sizing: border-box;
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  text-align: center;
  border-radius: 0.5rem;
  transition: opacity 0.15s linear;
  opacity: 0.6;
  cursor: pointer;
  &:nth-child(1) {
    background-color: $error-color;
  }
  &:nth-child(2) {
    background-color: $primary-color1;
  }
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    cursor: default;
    user-select: none;
    pointer-events: none;
  }
}
