@import '../variables.scss';

.main-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.6rem;
  gap: 1.6rem;
  .calendar-section {
    width: 50vw;
  }

  .chart-section {
    width: 20vw;
  }

  .add-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $primary-color1;
    box-shadow: #ddd 2px 2px 20px;
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;

    &:hover {
      opacity: 0.8;
    }
  }
}
