.main-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.6rem;
  gap: 1.6rem;

  section {
    padding: 1.6rem;
    overflow-y: scroll;
  }

  .calander-section {
    width: 50vw;
  }

  .history-section {
    width: 20vw;
  }

  .chart-section {
    width: 20vw;
  }
}
