@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@400;500&display=swap');
@import './variables';
@import './mixins';

* {
  font-family: 'Noto Sans KR';
}

html {
  width: 100vw;
  min-height: 100vh;
  background-color: #eee;
  overflow-x: hidden;
}

header {
  background-color: $primary-color1;
  height: 10rem;
}

section {
  padding: 0.8rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: #ddd 2px 2px 20px;
}

#App {
  width: 100vw;
  height: 100vh;
}

.app-body {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: calc(100% - 10rem);
}
