@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@400;500&display=swap');
@import './variables';
@import './mixins';
@import './theme';

* {
  font-family: 'Noto Sans KR';
}

html {
  @include darkModeTransition();
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  @include darkModeTransition();
  height: 10rem;
  @media (max-width: 480px) {
    height: 4rem;
  }
}

section {
  @include darkModeTransition();
  background-color: white;
  border-radius: 0.5rem;
  max-height: calc(100vh - 15rem);
}

#App {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.app-body {
  width: 100%;
  height: 100%;
}

.blur {
  filter: blur(3px);
  touch-action: none;
}

.page {
  width: 100%;
  height: calc(100% - 10rem);

  @media (max-width: 480px) {
    height: calc(100% - 4rem);
  }
}
