@mixin title($size: 'small') {
  margin: 0px 4px;
  font-family: 'Do Hyeon';
  @if $size == small {
    font-size: 24px;
    line-height: 24px;
  } @else {
    font-size: 48px;
    line-height: 56px;
  }
}

@mixin content($size: 'medium') {
  font-weight: 400;
  @if $size == regular {
    font-size: 16px;
    line-height: 24px;
  } @else if $size == small {
    font-size: 18px;
    line-height: 24px;
  } @else {
    font-size: 22px;
    line-height: 32px;
  }
}

@mixin bold($size: 'medium') {
  font-weight: 500;
  @if $size == regular {
    font-size: 12px;
    line-height: 16px;
  } @else if $size == small {
    font-size: 14px;
    line-height: 24px;
  } @else {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin flex($direction: row, $row: initial, $column: initial) {
  display: flex;
  flex-direction: $direction;
  @if $direction == row {
    justify-content: $row;
    align-items: $column;
  } @else {
    justify-content: $column;
    align-items: $row;
  }
}

@mixin flex-center($direction: row) {
  @include flex($direction, center, center);
}

@mixin lineLimit($numLine) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $numLine;
  -webkit-box-orient: vertical;
}

@mixin blackToPrimary() {
  filter: invert(68%) sepia(42%) saturate(688%) hue-rotate(128deg)
    brightness(87%) contrast(90%);
}
