* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: unset;
}
ul,
li {
  list-style: none;
}
button {
  background-color: rgba(0, 0, 0, 0);
}
button:focus,
input:focus {
  outline: none;
}
