@import './variables.scss';

@media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
  body {
    header .user-button {
      right: 0;
    }
    header .theme-button {
      right: 3rem;
    }
  }
}

@media screen and (min-width: $laptop-min) and (max-width: $laptop-max) {
  body {
    .main-page {
      display: block;
      max-width: 50rem;
      padding-top: 8rem;
    }
    .main-page > section {
      margin-bottom: 2rem;
    }

    .woowa-calendar .calendar-body .day-block {
      height: calc(42rem / 7);
    }

    .chart-tag__item:nth-child(n + 4) {
      display: grid;
    }

    header {
      position: fixed;
      width: 100vw;
      height: 6rem;
      z-index: 10;
      box-shadow: var(--box-shadow);
    }

    header .title-logo {
      left: 2rem;
      font-size: 1rem;
    }

    header .date-picker {
      max-width: 50rem;
      width: 100%;
      justify-content: center;
    }

    header .date-picker button {
      opacity: 1;
    }
    header .date-picker__year {
      font-size: 1rem;
    }
    header .date-picker__month {
      font-size: 3rem;
    }

    .history-brief .history-income,
    .history-brief .history-outcome {
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }

    .history-section
      .history-list
      ul
      li
      .history-item
      .history-item__left
      .history-item__category {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: $mobile-max) {
  body {
    header {
      position: fixed;
      width: 100vw;
      height: 5rem;
    }

    header .title-logo {
      left: 2rem;
      font-size: 3vw;
    }

    .main-page {
      display: flex;
      overflow: auto;
      scroll-snap-type: x mandatory;
      gap: 0;
      max-width: none;
      grid-template-columns: none;
      padding: initial;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    section {
      flex: none;
      margin-top: 5rem;
      width: 100%;
      box-shadow: none;
      border-radius: 0;
      scroll-snap-align: start;
    }

    .page {
      height: 100vh;
    }

    header .user-button {
      right: 0rem;
    }

    header .theme-button {
      right: 3rem;
    }

    header .date-picker__year {
      font-size: 0.8rem;
    }

    header .date-picker__month {
      font-size: 1.5rem;
    }

    .woowa-calendar .calendar-body {
      height: auto;
    }

    .woowa-calendar .calendar-body .calendar-history {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      overflow: hidden;
      background-color: $error-color;
      &.income {
        background-color: $primary-color1;
        margin-bottom: 0.25rem;
      }
    }

    .woowa-calendar .calendar-body .day-block {
      height: calc((100vw - 5rem) / 7);
    }

    .woowa-calendar .calendar-body .day-block__day {
      font-size: 0.75rem;
    }

    .chart-tag__item:nth-child(n + 4) {
      display: grid;
    }

    .history-section .history-list .history-item button {
      transform: scaleX(1);
      width: 3rem;
      display: flex;
      align-items: center;
      opacity: 1;
      padding: 1rem;
      background-color: transparent;
      cursor: pointer;
    }
    .history-section .history-list .history-item:hover button:hover {
      opacity: 1;
    }
  }

  .modal-background {
    justify-content: flex-end;

    & > div {
      width: 100%;
      height: 90%;
      padding-top: 4rem;
      border-radius: 2rem 2rem 0 0;
    }
  }
}
