@import './variables';

html {
  background-color: var(--background-color);
  color: var(--body-font-color);
  section {
    background: var(--section-color);
    box-shadow: none;
  }
  .woowa-calendar .calendar-body .day-block {
    background: var(--grey-color0);
  }
  .woowa-calendar .calendar-body .day-block:not(.empty-day):hover {
    background: var(--grey-color1);
  }
  .woowa-calendar .calendar-body .day-block__day {
    color: var(--body-color);
  }
  .history-section .history-list__date {
    color: var(--strong-text-color);
  }
  .history-section .history-list li {
    border-bottom: 1px solid var(--grey-color1);
  }
  .main-page .add-button {
    background-color: var(--primary-color1);
    box-shadow: none;
  }
  header {
    background-color: var(--primary-color1);
  }
}
