:root[theme='dark'] {
  $background-color: #222;
  $body-font-color: #eee;
  $section-color: #333;
  $grey-color0: #444;
  $grey-color1: #555;
  $primary-color1: #219a95;
  $strong-text-color: #ddd;
  $day-block-color: #aaa;
  $body-color: #aaa;
}
:root[theme='light'] {
  $background-color: #eee;
  $body-font-color: #000;
  $section-color: #fff;
  $grey-color0: #f8f8f8;
  $grey-color1: #eee;
  $grey-color2: #ddd;
  $grey-color3: #999;
  $grey-color4: #666;
  $black-color: #222;
  $primary-color1: #2ac1bc;
  $strong-text-color: #111;
  $body-color: #626666;
}

$primary-color2: #a0e1e0;
$primary-color3: #219a95;
$label-color: #8d9393;
$placeholder-color: #c1c5c5;
$line-color: #ccd3d3;
$offwhite-color: #fcfcfc;
$error-color: #f45452;
$category-color1: #6ed5eb;
$category-color2: #4cb8b8;
$category-color3: #94d3cc;
$category-color4: #4ca1de;
$category-color5: #d092e2;
$category-color6: #817dce;
$category-color7: #4a6cc3;
$category-color8: #b9d58c;
$category-color9: #e6d267;
$category-color10: #e2b765;

$desktop-min: 1400px;
$laptop-max: 1399px;
$laptop-min: 768px;
$mobile-max: 767px;
